.button {
  --blue: #3300c5;
  --shadow: rgba(0, 0, 0, .3);

  position: relative;
  border-radius: 100%;
  border-bottom-left-radius: 0px;
  height: 75px;
  width: 75px;
  border: none;
  background-color: var(--blue);
  color: white;
  box-shadow: 0 5px 15px var(--shadow);
  transform: rotate(0deg);
  transition: all .6s ease-in-out;
}

.open {
  border-bottom-left-radius: 100%;
  transform: rotate(720deg);
}

.closed {
}

.line {
   position: absolute;
   background: white;
   height: 5px;
   width: 50%;
   left: 20px;
   display: block;
   transition: all .6s ease-in-out;
}

.line1 {
  composes: line;
}

.line2 {
  composes: line;
  margin-top: 5px;
}

.line3 {
  composes: line;
  margin-top: 5px;
  width: 30%;
}

.closed .line1 { top: 25px }
.closed .line2 { top: 30px }
.closed .line3 { top: 40px }

.open .line {
  position: absolute;
  top: 48%;
  bottom: 0;
  left: 25%;
  margin: 0;
}
.open .line1 { transform: rotate(45deg); }
.open .line2 { transform: rotate(135deg); }
.open .line3 { opacity: 0; }

