.root {
  --shadow-gray: rgba(0, 0, 0, .125);
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;

  background-color: white;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.25;

  animation-name: open;
  animation-duration: .5s;
  animation-timing-function: ease-out;
}

.close {
  appearance: none;
  display: block;
  border: 0;
  color: inherit;
  background-color: transparent;
  font-family: inherit;
  font-size: 24px;
  margin: 0;
  margin-left: auto;
  width: 40px;
  height: 40px;
}

@keyframes open {
  0% {
    opacity: 0;
    transform: scale(1) translateY(100%);
  }
  55% {
    opacity: 1;
    transform: scale(1) translateY(-10%);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

.root * {
  box-sizing: border-box;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header {
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.title {
  font-size: 20px;
  margin: 0;
}

.conversation {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  list-style: none;
  margin: 0;
  padding: 16px;
  -webkit-overflow-scrolling: touch;
}

.message {
  white-space: pre-wrap;
  padding: 12px;
  margin-bottom: 8px;
  background-color: pink;
  border-radius: var(--radius-medium);
  margin-right: auto;
  max-width: 80%;
}

.userMessage {
  composes: message;
  margin-left: auto;
  margin-right: 0;
}

@media screen and (min-width: 32em) {
  .root {
    top: auto;
    left: auto;
    right: 0;
    bottom: 96px;
    margin: 16px;
    width: 384px;
    height: 480px;
    box-shadow: 0 4px 16px 1px var(--shadow-gray);
    border-radius: var(--radius-large);
  }
  .close {
    display: none;
  }
}

