.root {
  --shadow-gray: rgba(0, 0, 0, .125);
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;

  background-color: white;
  box-shadow: 0 1px 4px 1px var(--shadow-gray);
  border-radius: var(--radius-large);
  overflow: hidden;
  position: fixed;
  right: 0;
  bottom: 64px;
  margin: 16px;
  width: 384px;
  max-width: 90%;
  height: 480px;
  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.25;

}

.root * {
  box-sizing: border-box;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header {
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.title {
  font-size: 20px;
  margin: 0;
}

.close {
  appearance: none;
  font-family: inherit;
  font-size: 24px;
  line-height: 1;
  color: inherit;
  background-color: transparent;
  border: 0;
  margin: 0;
  margin-left: auto;
  padding: 8px;
}

.conversation {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  list-style: none;
  margin: 0;
  padding: 16px;
}

.message {
  white-space: pre-wrap;
  padding: 12px;
  margin-bottom: 8px;
  background-color: pink;
  border-radius: var(--radius-medium);
  margin-right: auto;
  max-width: 80%;
}

.userMessage {
  composes: message;
  margin-left: auto;
  margin-right: 0;
}

.form {
  padding: 16px;
  display: flex;
  align-items: center;
}

.input {
  margin: 0;
  padding: 0;
  width: 100%;
  border: 0;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  resize: none;
}

.input:focus {
  outline: none;
}

.button {
  appearance: none;
  border: 0;
  margin: 0;
  font-size: inherit;
  border-radius: var(--radius-medium);
  width: 48px;
  height: 48px;
}
